.dtext-container {
  overflow: hidden;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
}

.styled-dtext {
  div.spoiler, details, pre, blockquote, ul {
    margin-bottom: 0.75em;
  }

  pre, blockquote, .inline-code {
    padding: $padding-025;
  }

  details {
    padding: $padding-050;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin-bottom: 0.25em;

    &:not(:first-child) {
      margin-top: 1.25em;
    }
  }

  h1 {
    font-size: $dtext_h1_size;
  }

  h2 {
    font-size: $dtext_h2_size;
  }

  h3 {
    font-size: $dtext_h3_size;
  }

  h4 {
    font-size: $dtext_h4_size;
  }

  h5 {
    font-size: $dtext_h5_size;
  }

  h6 {
    font-size: $dtext_h6_size;
  }

  ul {
    margin-left: 1em;

    ul {
      margin-bottom: 0;
    }
  }

  li {
    list-style-type: disc;
  }

  pre {
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 1.2em;
  }

  .inline-code {
    font-family: monospace;
    white-space: pre-wrap;
    background-color: $dtext-code-background;
  }

  details {
    summary {
      font-weight: bold;
      cursor: pointer;

      &::marker {
        font-size: large;
      }
    }

    > div {
      margin-top: 0.75em;

      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  a.dtext-external-link::after {
    content: "";
    padding: 0 0.275em;
    margin: 0 0.25rem;
    vertical-align: -0.125em;
    // FIXME: Figure out why this doesn't work here: url("images/fa-icons#solid-up-right-from-square")
    //        Missing viewBox maybe? Also, an autoprefixer would be nice
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'%3E%3C/path%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: currentcolor;
  }

  details, pre, blockquote {
    border-radius: $border-radius-half;
    border: 1px solid themed("color-section");
    border-left: 0.25rem solid themed("color-danger");
    background: themed("color-section-lighten-5");
  }

  pre {
    border-left-color: themed("color-dtext-code");
  }

  blockquote {
    border-left-color: themed("color-dtext-quote");
  }

  details {
    border-left-color: themed("color-dtext-section");
  }

  @each $tag-category, $tag-category-name in $tag-categories-short {
    .dtext-color-#{$tag-category} {
      color: themed("color-tag-#{$tag-category-name}");
    }

    .dtext-color-#{$tag-category-name} {
      color: themed("color-tag-#{$tag-category-name}");
    }
  }
}

div.post-thumbnail.dtext {
  position: relative;
  display: inline-block;
}
